.body{
    
    text-align: center;
}
.heading{
    padding: 2rem 2rem;
    background-color: #80d4ff;
}
.footer{
    padding: 5rem 5rem;
    background-color: #80d4ff;
}
.button{
    padding: 2rem 2rem;
    
}
