.body{
   
    text-align: center;
}
.heading{
    padding: 2rem 2rem;
    background-color: #80d4ff;
}
.footer{
    padding: 5rem 5rem;
    background-color: #80d4ff;
    font-size: large;
}
.button{
    
    background-color: #80d4ff;
    margin:1rem 0rem;
    font-size: large;
    border: none;
    
}
